<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>VaadiVaasal_webapp</display-name>
    <welcome-file-list>
        <welcome-file>Jallikattu.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>PlayerServlet</servlet-name>
        <servlet-class>org.example.Player_Card.PlayerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/PlayerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdatePlayerServlet</servlet-name>
        <servlet-class>org.example.Player_Card.UpdatePlayerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdatePlayerServlet</servlet-name>
        <url-pattern>/UpdatePlayerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminDatabase</servlet-name>
        <servlet-class>org.example.Match_Schedule.AdminDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDatabase</servlet-name>
        <url-pattern>/AdminDatabase</url-pattern>
    </servlet-mapping>

</web-app>
